This is not an official RFC

Steps to reproduce:

1. Go to https://ietf.org
2. Try to find this RFC
3. Notice that it's not an official RFC

Expected behaviour: 

This should be an official RFC.

What we can do to solve this:

1. Format it according to the rules for RFC formatting, see https://tools.ietf.org/html/rfc6949.
2. Submit it to IETF for publication next coming April 1st.

There may be some questions about how to list the authors in an effort such as this, but this is probably something we can figure out. This can go down in history as the first crowdsourced RFC.

This has been on my TODO list for god knows how long. I generally get stuck at investigating vim plugins to do it for me 😄 

![it's happening](https://media.giphy.com/media/rl0FOxdz7CcxO/giphy.gif)

So, uh, I ran out of steam last march to do it. But maybe this march!

![soon](https://user-images.githubusercontent.com/2973129/37258183-0b08d156-2574-11e8-86a7-077193be01b7.gif)


Missed ?! 

YOU CAN DO IT ✊

How about this year ?

this needs to happen!!!

pleaseeeee let this happen :D

Oh well, there's always this year

Today is your chance

Nah.

1. The IETF want a fair amount of lead time in a submission
2. In this economy?

you lazy piece of a developer ^^

Is this project still maintained?? 😂 This issue has been open since 2017 and it'd be a shame if someone were to, say, idk, steal the RFC and submit it on behalf of the current maintainer with the request that if the IEFT accepts it that it only gets published next April 1st

Me. Two years later. +1ing. Literally the most useless comment - maybe that should be a status code 🤣.

Hello fellow hackers. If you would like to prevent me from appearing in your GitHub each year, please share a recommendation on how I can help get this submitted!

The notifications will continue until participation improves.

This year? Please...  

maybe 2025?

![today is the day](https://media0.giphy.com/media/nnFwGHgE4Mk5W/giphy.gif)

https://datatracker.ietf.org/submit/

I guess there's only a certain time frame when things can be submitted so I put it in my calendar. Anyway now y'all get to watch me discover how RFC submission works, in real time!

![today is the day](https://tenor.com/view/todays-the-day-time-is-now-today-is-the-day-finding-nemo-disney-pixar-gif-18386441605028901598)

https://datatracker.ietf.org/submit/

I guess there's only a certain time frame when things can be submitted so I put it in my calendar. Anyway now y'all get to watch me discover how RFC submission works, in real time!

I just tried to submit it! RFC submission is hard, apparently.

Running `make` gives a cryptic error:
```shell
docker run --rm --user=1002:1002 -v /home/jsanders/7XX-rfc:/rfc -v /tmp/xml2rfc:/var/cache/xml2rfc paulej/rfctools md2rfc 7xx.md
make: *** [Makefile:13: 7xx.txt] Error 1
```

But I did get a 7xx.xml file. Had to manually add a `docName` to the `<rfc>` element and rename the document to `draft-joho-7xxhttpcodes-00.xml`.

Tried uploading to the datatracker, it fails:
![Image](https://github.com/user-attachments/assets/a7ca331d-1ade-440e-b56e-222d71729b62)

Submitting it to https://author-tools.ietf.org/idnits3 gives this report:
```
▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
                    idnits ▶ 3.0.0-alpha.36                     
▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀

 Path  draft-joho-7xxhttpcodes-00.xml
 Mode  normal [0]

 1  Comment
 └- Code - NON_ASCII_UTF8
 └- Desc - Review RFC7997 to ensure your document respects UTF-8 rules for non-ASCII.
 └- Ref  - https://datatracker.ietf.org/doc/html/rfc7997#section-3

 2  Error
 └- Code - INVALID_INTRODUCTION_SECTION_CHILD
 └- Desc - The introduction section must consist of <artwork>, <aside>, <blockquote>, <dl>, <figure>, <iref>, <ol>, <sourcecode>, <t>, <table>, <texttable>, <ul> elements only.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-2.46

 3  Error
 └- Code - MISSING_SECURITY_CONSIDERATIONS_SECTION
 └- Desc - The security considerations section is missing.
 └- Ref  - https://authors.ietf.org/en/required-content#security-considerations

 4  Error
 └- Code - MISSING_REFERENCES_TITLE
 └- Desc - The references section is missing a title attribute.
 └- Ref  - https://authors.ietf.org/required-content#references
 └- Path - rfc.back.references[0].title

 5  Error
 └- Code - MISSING_IANA_CONSIDERATIONS_SECTION
 └- Desc - The IANA considerations section is missing.
 └- Ref  - https://authors.ietf.org/en/required-content#iana-considerations

 6  Error
 └- Code - MISSING_REQLEVEL_BOILERPLATE
 └- Desc - One or more RFC2119 keywords are present but an RFC2119 boilerplate and a reference are missing.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7322.html#section-4.8.2

 7  Warning
 └- Code - DOC_DATE_IN_PAST
 └- Desc - The document date is 1815 days in the past. Is this intentional?
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#date
 └- Path - rfc.front.date

 8  Warning
 └- Code - UPDATES_NOT_IN_ABSTRACT
 └- Desc - The document states that it updates RFC 7231 but doesn't explicitely mention it in the <abstract> section.
 └- Ref  - https://authors.ietf.org/en/required-content#abstract
 └- Path - rfc.front.abstract

 9  Warning
 └- Code - UPDATES_OSOLETED_RFC
 └- Desc - The <rfc> field states that it updates RFC 7231 but it's already obsoleted by RFC RFC9110.
 └- Ref  - https://authors.ietf.org/en/rfcxml-vocabulary#updates
 └- Path - rfc.updates

 10  Warning
 └- Code - DEPRECATED_ELEMENT
 └- Desc - The <format> element is deprecated. If the goal is to provide a single URI for a reference, use the "target" attribute in <reference> instead.
 └- Ref  - https://www.rfc-editor.org/rfc/rfc7991.html#section-3.3
 └- Path - rfc.middle.section[1].section[3].ul.li[2].u._attr.format
```

`#1` is my favorite. See, if this standard was accepted we could get a proper 732 response code!

Blindly copy pasting the error into copilot was also unhelpful so iduno... hmm, hey actually that sounds like it could be a good 7xx code! 😉

Unfortunately for me, the meme/pain ratio has been way more pain than memes and I feel like working on this more without @joho 's involvement ain't right.

I think it's time for someone else to take up the torch now, so long and thanks for all the 🐟!

> I just tried to submit it! RFC submission is hard, apparently.
> 
> Running `make` gives a cryptic error:
> 
> docker run --rm --user=1002:1002 -v /home/jsanders/7XX-rfc:/rfc -v /tmp/xml2rfc:/var/cache/xml2rfc paulej/rfctools md2rfc 7xx.md
> make: *** [Makefile:13: 7xx.txt] Error 1
> 
> But I did get a 7xx.xml file. Had to manually add a `docName` to the `<rfc>` element and rename the document to `draft-joho-7xxhttpcodes-00.xml`.
> 
> Tried uploading to the datatracker, it fails: ![Image](https://github.com/user-attachments/assets/a7ca331d-1ade-440e-b56e-222d71729b62)
> 
> Submitting it to https://author-tools.ietf.org/idnits3 gives this report:
> I think it's time for someone else to take up the torch now, so long and thanks for all the 🐟!

Maybe you can share your XML file, so we can analyse the problem?


@yarooze godspeed

(you can generate this using the steps I mentioned in my last comment / reading the README)

<details>

<summary>`draft-joho-7xxhttpcodes-00.xml`</summary>

```xml
<?xml version="1.0" encoding="utf-8"?>
<!-- name="GENERATOR" content="github.com/mmarkdown/mmark Mmark Markdown Processor - mmark.miek.nl" -->
<rfc version="3" ipr="trust200902" submissionType="IETF" xml:lang="en" xmlns:xi="http://www.w3.org/2001/XInclude" updates="7231" indexInclude="true" consensus="true" docName="draft-joho-7xxhttpcodes-00">

<front>
<title abbrev="7xxhttpcodes">Extending HTTP status codes to include developer errors</title><seriesInfo></seriesInfo>
<author initials="J. R." surname="Barton" fullname="J. R. Barton"><organization>Railscamp</organization><address><postal><street></street>
</postal><email>jb@johnbarton.co</email>
</address></author><date year="2020" month="April" day="1"></date>
<area>Internet</area>
<workgroup></workgroup>
<keyword>http</keyword>
<keyword>errors</keyword>

<abstract>
<t>We humbly suggest the following status codes to be included in the HTTP spec in the 7XX range.</t>
</abstract>

</front>

<middle>

<section anchor="introduction"><name>Introduction</name>
<t>Some words and stuff. Reference to <xref target="RFC7231"></xref>, looking to classify 500 series as unknown unknowns, and the 700 series as known unknowns.</t>

<section anchor="terminology"><name>Terminology</name>
<t>The keywords <bcp14>MUST</bcp14>, <bcp14>MUST NOT</bcp14>, <bcp14>REQUIRED</bcp14>, <bcp14>SHALL</bcp14>, <bcp14>SHALL NOT</bcp14>, <bcp14>SHOULD</bcp14>,
<bcp14>SHOULD NOT</bcp14>, <bcp14>RECOMMENDED</bcp14>, <bcp14>MAY</bcp14>, and <bcp14>OPTIONAL</bcp14>, when they appear in this
document, are to be interpreted as described in <xref target="RFC2119"></xref>.</t>
</section>
</section>

<section anchor="developer-errors"><name>Developer Errors</name>

<section anchor="inexcusable"><name>Inexcusable</name>

<ul spacing="compact">
<li>701 - Meh</li>
<li>702 - Emacs</li>
<li>703 - Explosion</li>
<li>704 - Goto Fail</li>
<li>705 - I wrote the code and missed the necessary validation by an oversight (see 795)</li>
<li>706 - Delete Your Account</li>
<li>707 - Can't quit vi</li>
</ul>
</section>

<section anchor="novelty-implementations"><name>Novelty Implementations</name>

<ul spacing="compact">
<li>710 - PHP</li>
<li>711 - Convenience Store</li>
<li>712 - NoSQL</li>
<li>718 - I am not a teapot</li>
<li>719 - Haskell</li>
</ul>
</section>

<section anchor="edge-cases"><name>Edge Cases</name>

<ul spacing="compact">
<li>720 - Unpossible</li>
<li>721 - Known Unknowns</li>
<li>722 - Unknown Unknowns</li>
<li>723 - Tricky</li>
<li>724 - This line should be unreachable</li>
<li>725 - It works on my machine</li>
<li>726 - It's a feature, not a bug</li>
<li>727 - 32 bits is plenty</li>
<li>728 - It works in my timezone</li>
</ul>
</section>

<section anchor="fucking"><name>Fucking</name>

<ul spacing="compact">
<li>730 - Fucking npm</li>
<li>731 - Fucking Rubygems</li>
<li>732 - Fucking Unic<u format="char-num">💩</u>de</li>
<li>733 - Fucking Deadlocks</li>
<li>734 - Fucking Deferreds</li>
<li>736 - Fucking Race Conditions</li>
<li>735 - Fucking IE</li>
<li>737 - FuckThreadsing</li>
<li>738 - Fucking Exactly-once Delivery</li>
<li>739 - Fucking Windows</li>
<li>738 - Fucking Exactly-once Delivery</li>
<li>739 - Fucking McAfee</li>
</ul>
</section>

<section anchor="reserved-for-meritocracy-related-bullshit"><name>Reserved for meritocracy related bullshit</name>
<t>74x TBD. Got the brains trust on the case.</t>
</section>

<section anchor="syntax-errors"><name>Syntax Errors</name>

<ul spacing="compact">
<li>750 - Didn't bother to compile it</li>
<li>753 - Syntax Error</li>
<li>754 - Too many semi-colons</li>
<li>755 - Not enough semi-colons</li>
<li>756 - Insufficiently polite</li>
<li>757 - Excessively polite</li>
<li>759 - Unexpected <tt>T_PAAMAYIM_NEKUDOTAYIM</tt></li>
</ul>
</section>

<section anchor="substance-affected-developer"><name>Substance-Affected Developer</name>

<ul spacing="compact">
<li>761 - Hungover</li>
<li>762 - Stoned</li>
<li>763 - Under-Caffeinated</li>
<li>764 - Over-Caffeinated</li>
<li>765 - Railscamp</li>
<li>766 - Sober</li>
<li>767 - Drunk</li>
<li>768 - Accidentally Took Sleeping Pills Instead Of Migraine Pills During Crunch Week</li>
</ul>
</section>

<section anchor="predictable-problems"><name>Predictable Problems</name>

<ul spacing="compact">
<li>771 - Cached for too long</li>
<li>772 - Not cached long enough</li>
<li>773 - Not cached at all</li>
<li>774 - Why was this cached?</li>
<li>775 - Out of cash</li>
<li>776 - Error on the Exception</li>
<li>777 - Coincidence</li>
<li>778 - Off By One Error</li>
<li>779 - Off By Too Many To Count Error</li>
</ul>
</section>

<section anchor="somebody-else-s-problem"><name>Somebody Else's Problem</name>

<ul spacing="compact">
<li>780 - Project owner not responding</li>
<li>781 - Operations</li>
<li>782 - QA</li>
<li>783 - It was a customer request, honestly</li>
<li>784 - Management, obviously</li>
<li>785 - TPS Cover Sheet not attached</li>
<li>786 - Try it now</li>
<li>787 - Further Funding Required</li>
<li>788 - Designer's final designs weren't</li>
<li>789 - Not my department</li>
</ul>
</section>

<section anchor="internet-crashed"><name>Internet crashed</name>

<ul spacing="compact">
<li>791 - The Internet shut down due to copyright restrictions</li>
<li>792 - Climate change driven catastrophic weather event</li>
<li>793 - Zombie Apocalypse</li>
<li>794 - Someone let PG near a REPL</li>
<li>795 - #heartbleed (see 705)</li>
<li>796 - Some DNS fuckery idno</li>
<li>797 - This is the last page of the Internet. Go back</li>
<li>798 - I checked the db backups cupboard and the cupboard was bare</li>
<li>799 - End of the world</li>
</ul>
</section>
</section>

</middle>

<back>
<references><name>Informative References</name>
<xi:include href="https://xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.2119.xml"/>
<xi:include href="https://xml2rfc.ietf.org/public/rfc/bibxml/reference.RFC.7231.xml"/>
</references>

<section anchor="acknowledgements"><name>Acknowledgements</name>
<t>Railscamp crew, github contributors, etc</t>
</section>

</back>

</rfc>
```

</details>

There are two blockers to submission:
* generating the document
* the document being something i'm comfortable standing behind as a finished thing

I don't feel like all the humour has aged super well, and so until I find the time and energy to do a fresh pass through the content I'd ask everyone to hold back from submitting it even with a fixed pipeline.